DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=

RAILS_LOG_LEVEL=debug

JWT_SECRET=
ACCESS_TOKEN_EXPIRATION_MINUTES=15
REFRESH_TOKEN_EXPIRATION_DAYS=30

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
MAILER_FROM=

PASSWORD_RESET_URL=maneja://reset-password